<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>          
        <key>CFBundleExecutable</key>
        <string>SPIERSalign64</string>
        <key>CFBundleIconFile</key>
        <string>SPIERSalignIcon.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.palaeoware.spiers.align</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>3.1.2</string>
        <key>CFBundleSpokenName</key>
        <string>Spiers Align</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>LSMinimumSystemVersion</key>
        <string>10.13</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true/>
</dict>
</plist>
