#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SPIERSview
Version=3.1.0
GenericName=Tomographic reconstruction software
Comment=Visualise slice-based data
Exec=/XXXXXXXXXXXXXX/SPIERSview64
Icon=/XXXXXXXXXXXXXX/SPIERSview64.png
Terminal=false
Type=Application
Categories=Science;Graphics;
Name[en_GB]=SPIERSview
