#!/usr/bin/env xdg-open

[Desktop Entry]
Name=SPIERSalign
Version=3.1.0
GenericName=Tomographic reconstruction software
Comment=Visualise slice-based data
Exec=/XXXXXXXXXXXXXX/SPIERSalign64
Icon=/XXXXXXXXXXXXXX/SPIERSalign64.png
Terminal=false
Type=Application
Categories=Science;Graphics;
Name[en_GB]=SPIERSalign
